<div *ngIf="success">
    {{'verifyemail' | translate}}
</div>
<div id="signup-error" *ngIf="!success">{{errors.server}}</div>
<div id="user-signup-email" *ngIf="!success">
    <input type="text" placeholder="Email" (input)="verifyEmail()" [(ngModel)]="userSignup.email">
    <div class="signup-error-field">{{errors.email | translate}}</div>
    <input type="text" placeholder="Username" (input)="verifyUsername()" [(ngModel)]="userSignup.username">
    <div class="signup-error-field">{{errors.username | translate}}</div>
    <input type="password" placeholder="Password" (input)="verifyPassword()" [(ngModel)]="userSignup.password">
    <div class="signup-error-field">{{errors.password | translate}}</div>
    <input type="password" placeholder="Retype password" (input)="verifyRetypePassword()" [(ngModel)]="userSignup.retypePassword" (keyup.enter)="onSignup()">
    <div class="signup-error-field">{{errors.retypePassword | translate}}</div>
    <div id="signup-button" (click)="onSignup()">Signup</div>
</div>
<div id="redirect-signin" (click)="router.navigate(['/signin/'])">Signin</div>

