
:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    margin: 5px;
    outline: none;
    border: none;
    background-color: rgb(228, 228, 228);
    padding: 10px;
    border-radius: 5px;
    font-size: 11pt;
}
#redirect-signin {
    color: blue;
    font-size: 11pt;
    cursor: pointer;
}
#recover-button, #change-button {
    width: 150px;
    background-color: rgb(255, 72, 72);
    border: 0;
    padding: 6px;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}
#recover {
    display: flex;
    align-items: center;
    flex-direction: column;
}