<div class="categories">
    <div>
        <div class="category" value="offroad" (click)="goCategory('offroad')">
            <div class="category-title">
                {{'Offroads' | translate}}
            </div>
        </div>
    </div>
    <div>
        <div class="category" value="sporty" (click)="goCategory('sporty')">
            <div class="category-title">
                {{'Sporties' | translate }}
            </div>
        </div>
    </div>
    <div>
        <div class="category" value="minivan" (click)="goCategory('minivan')">
            <div class="category-title">
                {{'Minivans' | translate }}
            </div>
        </div>
    </div>
    <div>
        <div class="category" value="van" (click)="goCategory('van')">
            <div class="category-title">
                {{'Vans' | translate }}
            </div>
        </div>
    </div>
</div>