<div class="header">
    <div class="header-logo">AUTOCARS</div>
    <div class="header-menu">
        <div (click)="router.navigate([''])">
            {{ 'navbar.home' | translate }}
        </div>
        <div (click)="router.navigate(['/shop/'])">
            {{ 'navbar.shop' | translate }}
        </div>
        <div class="header-menu-lang">
            {{ 'navbar.lang' | translate }}
            <div class="header-menu-lang-menu">
                <div (click)="changeLang('en')">
                    {{ 'navbar.english' | translate }}
                </div>
                <div (click)="changeLang('es')">
                    {{ 'navbar.spanish' | translate }}
                </div>
            </div>
        </div>
        <div (click)="router.navigate(['/account/'])">
            {{ 'navbar.account' | translate }}
        </div>
        <div class="cart-icon" (click)="router.navigate(['/cart/'])">
            <i class="gg-shopping-cart"></i>
            <div *ngIf="cartService.cart.totalCount > 0" class="cart-count">{{ cartService.cart.totalCount }}</div>
        </div>
    </div>
</div>
<div class="header-separator"></div>
