<app-car-filter [search]=search (searchEvent)="searchCars()"></app-car-filter>
<div class="car-list-box">
  <div class="car-list">
    <app-car-element *ngFor="let car of carlist.cars" [car]=car></app-car-element>
  </div>
  
  <div class="car-list-pagination">
    <div *ngFor="let in of [].constructor(carlist.pages); let i = index" (click)="onChangePage(i+1)" [ngClass]="i+1 == search.page ? 'car-list-pagination-el-selected' : ''" class="car-list-pagination-el">
      {{i+1}}
    </div>
  </div>
</div>
